<div >
    <form class="row g-3">
        <div id="logor" class="center">
            <i class="large material-icons">spa</i>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Correo</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="inputAddress2" >
        </div>
        <div>
            <p>
                <label>
                  <input type="checkbox" />
                  <span>Acepto terminos y condiciones</span>
                </label>
              </p>
        </div>
        <div class="col-12 center">
          <button type="submit" class="btn btn-primary">Registrate</button>
        </div>
      </form>
    
    
</div>