<div >
    <form method="post" [formGroup]="fgValidador" (ngSubmit)="EditarAsesor()" class="row g-3">
        <div id="logor" class="center">
            <i class="large material-icons">spa</i>
            <h1 class="h3 mb-3 fw-normal">Editar Asesor</h1>
        </div>
        <input type="hidden" formControlName="id">
        <div class="col-4">
          <label for="inputAddress2" class="form-label">Codigo Asesor</label>
          <input formControlName="codigo_asesor" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-4">
          <label for="inputAddress2" class="form-label">Tipo Documento</label>
          <input formControlName="tipo_doc" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-4">
          <label for="inputAddress2" class="form-label">Documento</label>
          <input formControlName="numero_doc" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Correo</label>
          <input formControlName="correo" type="email" class="validate" id="inputEmail4" required>
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label">Nombre completo</label>
          <input formControlName="nombre" type="text" class="validate" id="inputAddress" required>
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label">Apellidos</label>
          <input formControlName="apellido" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Descripcion</label>
          <input formControlName="descripcion" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label">Direccion</label>
          <input formControlName="direccion" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label">Telefono</label>
          <input formControlName="telefono" type="text" class="validate" id="inputAddress2" required>
        </div>
        <div class="col-12 center">
          <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary">Registrate</button>
        </div>
      </form>
</div>

