<div class="container">
    <div class="row">
        <div id="logor" class="center">
            <i class="large material-icons">spa</i>
            <h1 class="h3 mb-3 fw-normal">Acerca de</h1>
        </div>
        <table class="center">
            <tr>
                <th>
                    <div id="mistxt">
                        <h3 id="mis">Mision</h3>
                        <p>
                            ForRenting es una empresa dedicada a la venta y alquiler de una gran variedad de vehiculos
                            en diferentes partes del pais.
                        </p>
                    </div>
                </th>
                <th>
                    <div id="vistxt">
                        <h3 id="vis">Vision</h3>
                        <p>
                            ForRenting es una empresa dedicada a la venta y alquiler de una gran variedad de vehiculos
                            en diferentes partes del pais.
                        </p>
                    </div>
                </th>
            </tr>
        </table>
        <div class="center" id="fortxt">
            <h2 id="for">ForRenting</h2>
            <p>
                ForRenting es una empresa dedicada a la venta y alquiler de una gran variedad de vehiculos en diferentes
                partes del pais.
            </p>
        </div>
    </div>
</div>