#logor{
    padding-bottom: 20px;
}

.row{
    padding: 40px;
}

.row{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#fortxt{
    width: 100%;
    padding-left: 35%;
    padding-right: 35%;
}

#for{
    padding-bottom: 39px;
}

#mis{
    padding-bottom: 30px;
}

#vis{
    padding-bottom: 30px;
}

#vistxt{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

#mistxt{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}



