<STYLE>
    A {
        text-decoration: none;
    }
</STYLE>
<nav>
    <div class="nav-wrapper">
        
        <a routerLink="/inicio" class="brand-logo">ForRenting</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/seguridad/Cambiar-clave">Acerca de</a></li>
            <li><a routerLink="/seguridad/Cambiar-clave">Contactenos</a></li>
            <li><a routerLink="/seguridad/Cambiar-clave">Cambiar clave</a></li>
            <li><a routerLink="/administracion/crear-producto">Crear producto</a></li>
            <li><a routerLink="/seguridad/identificacion">iniciar Sesion</a></li>
            <li><a routerLink="/administracion/crear-persona">Registrate</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/seguridad/Cambiar-clave">Acerca de</a></li>
    <li><a routerLink="/seguridad/Cambiar-clave">Contactenos</a></li>
    <li><a routerLink="/seguridad/Cambiar-clave">Cambiar clave</a></li>
    <li><a routerLink="/administracion/crear-producto">Crear producto</a></li>
    <li><a routerLink="/seguridad/identificacion">iniciar Sesion</a></li>
    <li><a routerLink="/administracion/crear-persona">Registrate</a></li>
</ul>