<STYLE>
    A {
        text-decoration: none;
    }
</STYLE>
<nav>
    <div class="nav-wrapper">

        <a routerLink="/inicio" class="brand-logo">ForRenting</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">


            <li *ngIf="seInicioSesionCliente"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>

            <li *ngIf="seInicioSesionAsesor"><a routerLink="/asesor/mostrar-vehiculo">Vehiculos</a></li>
            <li *ngIf="seInicioSesionAsesor"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>

            <li ><a routerLink="/administrador/administrar-sedes">Sedes</a></li>
            <li *ngIf="seInicioSesionAdministrador"><a routerLink="/administrador/mostrar-asesor">Asesores</a></li>
            <li *ngIf="seInicioSesionAdministrador"><a routerLink="/administrador/mensajes-contactenos">Mensajes de Contacto</a></li>
            <li *ngIf="seInicioSesionAdministrador"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>


            <li *ngIf="!seInicioSesion"><a routerLink="/inicio">Home</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/acerca-de">Acerca de</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/contactenos">Contactenos</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">iniciar Sesion</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/administracion/crear-persona">Registrate</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesionCliente"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>


    <li *ngIf="seInicioSesionAsesor"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>


    <li *ngIf="seInicioSesionAdministrador"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>


    <li *ngIf="!seInicioSesion"><a routerLink="/inicio">Home</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/Cambiar-clave">Acerca de</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/Cambiar-clave">Contactenos</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">iniciar Sesion</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/administracion/crear-persona">Registrate</a></li>
</ul>