.imagenvehiculo{
    width: 200px;
}

#logor{
    padding: 40px;
    padding-bottom: 40px;
}

.row{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#n{
    padding-left: 60px;
}

#v{
    padding-left: 60px;
}

#d1{
    padding-left: 60px;
}

#d2{
    padding-left: 60px;
}

#fortxt{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}
#btnnuevo{
    padding-top: 50px;
}

#elim{
    background-color: red;
    border-color: red;
    color: white;
}

#edit{
    background-color: rgba(0, 89, 255, 0.863);
    border-color: rgba(0, 89, 255, 0.863);
    color: white;
}